<div class="full_width">
    <div class="container panel_height">
        <div class="catalog_inner_sections women-men_panel">
            <a href="#" class="main_text_title">женщины</a>
            <a href="#" class="main_text_title">мужчины</a>
        </div>
    </div>

</div>

<!-- Блок выбора Жунщины / Мужчины начало УБРАЛА ЕГО ВООБЩЕ -->

<!-- <div class="container catalog">

    <a href="catalog_closed_filters.html">
        <img src="./img/catalog_main/search_w-m/women.jpg" class="catalog_mobile_foto" alt="">
    </a>
    <a href="catalog_closed_filters.html" class="category_part__item">
        <p class="small_text uppercase">Женщины</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M8.33203 14.1673L12.4987 10.0007L8.33203 5.83398" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    <a href="#">
        <img src="./img/catalog_main/search_w-m/men.jpg" class="catalog_mobile_foto" alt="">
    </a>
    <a href="#" class="category_part__item">
        <p class="small_text uppercase">Мужчины</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M8.33203 14.1673L12.4987 10.0007L8.33203 5.83398" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>

</div> -->

<!-- Блок выбора Жунщины / Мужчины конец -->
