<!-- Нумерация на 1 странице начало -->

<div class="pagination">
    <a href="#" class="main_text_addit_dark page">1</a>
    <a href="#" class="main_text_addit_dark page">2</a>
    <a href="#" class="main_text_addit_dark page">3</a>
    <a href="#" class="main_text_addit_dark page">4</a>
    <a href="#" class="main_text_addit_dark page">5</a>
    <a href="#" class="main_text_addit_dark page">Вперед</a>
</div>

<!-- Нумерация на 1 странице конец -->

<!-- Нумерация начиная с 4 страницы начало -->

<!-- <div class="pagination">
    <a href="#" class="main_text_addit_dark page">Назад</a>
    <a href="#" class="main_text_addit_dark page">2</a>
    <a href="#" class="main_text_addit_dark page">3</a>
    <a href="#" class="main_text_addit_dark page">4</a>
    <a href="#" class="main_text_addit_dark page">5</a>
    <a href="#" class="main_text_addit_dark page">6</a>
    <a href="#" class="main_text_addit_dark page">Вперед</a>
</div> -->

<!-- Нумерация начиная с 4 страницы конец -->

<!-- Нумерация последней страницы начало -->

<!-- <div class="pagination">
    <a href="#" class="main_text_addit_dark page">Назад</a>
    <a href="#" class="main_text_addit_dark page">2</a>
    <a href="#" class="main_text_addit_dark page">3</a>
    <a href="#" class="main_text_addit_dark page">4</a>
    <a href="#" class="main_text_addit_dark page">5</a>
    <a href="#" class="main_text_addit_dark page">6</a>
</div> -->

<!-- Нумерация последней страницы конец -->