{% set page_name = 'О нас' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'about_us.html',
            text: 'О нас'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- О нас начало -->
<div class="about_us_banner"></div>

<div class="container text_content_container info_pages_text">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, corporis autem excepturi optio nulla accusamus accusantium eius non possimus quia dolore doloribus tempora similique nam eveniet sequi blanditiis deserunt deleniti?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eos quisquam! Aut dolor, impedit distinctio et reprehenderit debitis ullam quaerat. Quae recusandae, ratione magni illo ullam voluptas repellendus facere sequi dolor, eaque alias quia nesciunt.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nisi autem accusantium deserunt fugiat! Aspernatur dolor nesciunt assumenda dicta ex!</p>
    <p>Lorem, ipsum dolor.</p>
</div>
<!-- О нас конец -->

{% endblock %}

{% block scripts %} {% endblock %}