{% set page_name = 'Корзина' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'basket_empty.html',
            text: 'Корзина'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

{% include "partials/log_in_stroke+clear_basket.html" %}

<!-- Корзина с товарами начало -->

<div class="container order_list order_list_basket"></div>

<div class="container total_cost total_cost_basket">

    <div class="total_cost__item margin_top-15">
        <div class="total_item_name main_text">
            Сумма
        </div>
        <div class="total_item_value main_text">
            <span class="total_cost_in_basket"></span> &nbsp;р.
        </div>
    </div>

    <div class="total_cost__item">
        <div class="total_item_name main_text">
            Скидка&nbsp; <span class="total_discount"></span>%
        </div>
        <div class="total_item_value main_text">
            <span class="total_discount_in_basket_sum"></span> &nbsp;р.
        </div>
    </div>

    <div class="total_cost__item">
        <div class="total_item_name main_text">
            Доставка
        </div>
        <div class="total_item_value main_text">
            <span  class="total_cost_delivery"></span> &nbsp;р.
        </div>
    </div>

    <div class="total_cost__item">
        <div class="total_item_name main_text_contrast">
            К оплате
        </div>
        <div class="total_item_value main_text_contrast">
            <span  class="total_cost_in_basket_sum"></span> &nbsp;р.
        </div>
    </div>

</div>

<div class="container order_btn order_btn_basket">
    <a href="catalog_main.html" class="btn_main turn_catalog">
        <p class="main_text uppercase btn_text">вернуться в каталог</p>
    </a>
    <a href="making_order_data.html" class="btn_main make_order">
        <p class="main_text uppercase btn_text">оформить заказ</p>
    </a>
</div>


<!-- Корзина с товарами конец -->


<!-- Корзина пустая начало -->

<div class="empty_content empty_basket inactive">

    <p class="main_text uppercase">в корзине пока ничего нет</p>

    <a href="catalog_main.html" class="btn_main">
        <p class="main_text uppercase btn_text">перейти в каталог</p>
    </a>

</div>

<!-- Корзина пустая конец -->



{% endblock %}

{% block scripts %} {% endblock %}