{% set page_name = 'Регистрация' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'basket_empty.html',
            text: 'Корзина'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

{% include "partials/log_in_stroke+clear_basket.html" %}

<!-- Всплывающая форма регистрации - проверка номера начало -->

<div class="dark_window">
    <div class="pop_up_block_tabs block_tabs_height-small">
        <a href="basket_full.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="close_icon">
                <path d="M5.33316 15.2565L4.74316 14.6665L9.40983 9.99983L4.74316 5.33316L5.33316 4.74316L9.99983 9.40983L14.6665 4.74316L15.2565 5.33316L10.5898 9.99983L15.2565 14.6665L14.6665 15.2565L9.99983 10.5898L5.33316 15.2565Z" fill="#393939"/>
            </svg>
        </a>
        <div class="row_tabs">
            <a href="basket_full+entry_form.html" class="tab_inactive_left">
                <p class="main_text uppercase">вход</p>
            </a>
            <div href="#" class="tab_active">
                <p class="main_text_addit_dark uppercase">регистрация</p>
            </div>
        </div>

        <div class="pop_up_col">
            <div class="check_phone_cell">
                <p class="info_pages_text">Введите код из СМС</p>
                <form method="GET" action="#">
                    <input type="text" placeholder="*  *  *  *">
                </form>
            </div>
            <a href="#" class="btn_main_inactive">
                <p class="main_text_addit_dark uppercase btn_text">получить код</p>
            </a>
            <p class="small_text_addit_dark">Отправить код повторно можно через 00:59 сек.</p>
        </div>

    </div>
</div>


<!-- Всплывающая форма регистрации - проверка номера конец -->

<!-- Корзина с товарами начало -->

<div class="container order_list">

    <!-- Строчка товара в корзине начало -->
    <div class="order_list__item">
        <div class="order_item_foto">
            <img src="./img/product_cards/women/clothes/product3.jpeg" alt="foto" class="item_foto">
        </div>
        <div class="order_item_info">
            <p class="main_text_title">кардиган из шерсти</p>
            <p class="small_text">Серый</p>
            <p class="main_text uppercase">M</p>
        </div>
        <div class="order_item_price main_text">
            8 000 р.
        </div>
        <div class="order_item_count">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 13V12H18V13H5Z" fill="#393939"/>
            </svg>
            <p class="main_text">1</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 13V12H11V6H12V12H18V13H12V19H11V13H5Z" fill="#393939"/>
            </svg>
        </div>
        <div class="order_item_cost main_text">
            8 000 р.
        </div>
        <a href="#" class="order_item_favourite">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="heart">
                <path d="M10 18.0166C9.87726 18.0162 9.75809 17.9752 9.66112 17.8999C6.57223 15.4999 4.44445 13.4333 2.95556 11.3944C1.05556 8.78883 0.62223 6.38328 1.66667 4.24439C2.41112 2.71661 4.55001 1.46661 7.05001 2.19439C8.24198 2.53869 9.28195 3.27705 10 4.28883C10.7181 3.27705 11.758 2.53869 12.95 2.19439C15.4445 1.47772 17.5889 2.71661 18.3333 4.24439C19.3778 6.38328 18.9445 8.78883 17.0445 11.3944C15.5556 13.4333 13.4278 15.4999 10.3389 17.8999C10.2419 17.9752 10.1228 18.0162 10 18.0166Z"/>
            </svg>
        </a>
        <div class="order_item_delete">
            <a href="#" class="small_text uppercase">удалить</a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.33414 15.2565L4.74414 14.6665L9.41081 9.99983L4.74414 5.33316L5.33414 4.74316L10.0008 9.40983L14.6675 4.74316L15.2575 5.33316L10.5908 9.99983L15.2575 14.6665L14.6675 15.2565L10.0008 10.5898L5.33414 15.2565Z" fill="#393939"/>
                </svg>
            </a>
        </div>
    </div>
    <!-- Строчка товара в корзине конец -->

    <!-- Строчка товара в корзине начало -->
    <div class="order_list__item">
        <div class="order_item_foto">
            <img src="./img/product_cards/women/clothes/product5.jpeg" alt="foto" class="item_foto">
        </div>
        <div class="order_item_info">
            <p class="main_text_title">рубашка</p>
            <p class="small_text">Белый</p>
            <p class="main_text uppercase">M</p>
        </div>
        <div class="order_item_price main_text">
            8 000 р.
        </div>
        <div class="order_item_count">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 13V12H18V13H5Z" fill="#393939"/>
            </svg>
            <p class="main_text">2</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 13V12H11V6H12V12H18V13H12V19H11V13H5Z" fill="#393939"/>
            </svg>
        </div>
        <div class="order_item_cost main_text">
            16 000 р.
        </div>
        <a href="#" class="order_item_favourite">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="heart">
                <path d="M10 18.0166C9.87726 18.0162 9.75809 17.9752 9.66112 17.8999C6.57223 15.4999 4.44445 13.4333 2.95556 11.3944C1.05556 8.78883 0.62223 6.38328 1.66667 4.24439C2.41112 2.71661 4.55001 1.46661 7.05001 2.19439C8.24198 2.53869 9.28195 3.27705 10 4.28883C10.7181 3.27705 11.758 2.53869 12.95 2.19439C15.4445 1.47772 17.5889 2.71661 18.3333 4.24439C19.3778 6.38328 18.9445 8.78883 17.0445 11.3944C15.5556 13.4333 13.4278 15.4999 10.3389 17.8999C10.2419 17.9752 10.1228 18.0162 10 18.0166Z"/>
            </svg>
        </a>
        <div class="order_item_delete">
            <a href="#" class="small_text uppercase">удалить</a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.33414 15.2565L4.74414 14.6665L9.41081 9.99983L4.74414 5.33316L5.33414 4.74316L10.0008 9.40983L14.6675 4.74316L15.2575 5.33316L10.5908 9.99983L15.2575 14.6665L14.6675 15.2565L10.0008 10.5898L5.33414 15.2565Z" fill="#393939"/>
                </svg>
            </a>
        </div>
    </div>
    <!-- Строчка товара в корзине конец -->

    <!-- Строчка товара в корзине начало -->
    <div class="order_list__item">
        <div class="order_item_foto">
            <img src="./img/product_cards/women/clothes/product8.jpeg" alt="foto" class="item_foto">
        </div>
        <div class="order_item_info">
            <p class="main_text_title">джинсы</p>
            <p class="small_text">Голубой</p>
            <p class="main_text uppercase">M</p>
        </div>
        <div class="order_item_price main_text">
            8 000 р.
        </div>
        <div class="order_item_count">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 13V12H18V13H5Z" fill="#393939"/>
            </svg>
            <p class="main_text">1</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 13V12H11V6H12V12H18V13H12V19H11V13H5Z" fill="#393939"/>
            </svg>
        </div>
        <div class="order_item_cost main_text">
            8 000 р.
        </div>
        <a href="#" class="order_item_favourite">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="heart">
                <path d="M10 18.0166C9.87726 18.0162 9.75809 17.9752 9.66112 17.8999C6.57223 15.4999 4.44445 13.4333 2.95556 11.3944C1.05556 8.78883 0.62223 6.38328 1.66667 4.24439C2.41112 2.71661 4.55001 1.46661 7.05001 2.19439C8.24198 2.53869 9.28195 3.27705 10 4.28883C10.7181 3.27705 11.758 2.53869 12.95 2.19439C15.4445 1.47772 17.5889 2.71661 18.3333 4.24439C19.3778 6.38328 18.9445 8.78883 17.0445 11.3944C15.5556 13.4333 13.4278 15.4999 10.3389 17.8999C10.2419 17.9752 10.1228 18.0162 10 18.0166Z"/>
            </svg>
        </a>
        <div class="order_item_delete">
            <a href="#" class="small_text uppercase">удалить</a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.33414 15.2565L4.74414 14.6665L9.41081 9.99983L4.74414 5.33316L5.33414 4.74316L10.0008 9.40983L14.6675 4.74316L15.2575 5.33316L10.5908 9.99983L15.2575 14.6665L14.6675 15.2565L10.0008 10.5898L5.33414 15.2565Z" fill="#393939"/>
                </svg>
            </a>
        </div>
    </div>
    <!-- Строчка товара в корзине конец -->

</div>

<div class="container total_cost">

    <div class="total_cost__item">
        <div class="total_item_name main_text">
            Сумма
        </div>
        <div class="total_item_value main_text">
            32 000 р.
        </div>
    </div>

    <div class="total_cost__item">
        <div class="total_item_name main_text">
            Скидка 5%
        </div>
        <div class="total_item_value main_text">
            1 600 р.
        </div>
    </div>

    <div class="total_cost__item">
        <div class="total_item_name main_text_contrast">
            К оплате
        </div>
        <div class="total_item_value main_text_contrast">
            30 400 р.
        </div>
    </div>

</div>

<div class="container order_btn">
    <a href="catalog_main.html" class="btn_main">
        <p class="main_text uppercase btn_text">вернуться в каталог</p>
    </a>
    <a href="making_order_data.html" class="btn_main">
        <p class="main_text uppercase btn_text">оформить заказ</p>
    </a>
</div>


<!-- Корзина с товарами конец -->


{% endblock %}

{% block scripts %} {% endblock %}