{% set page_name = 'Наш блог' %}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Блог начало -->
<div class="container our_blog">

    <!-- Статья блога начало -->

    <div class="article" id="article-1">
        <div class="title_second">Новогодняя капсула</div>
        <div class="main_text_contrast uppercase">Платья-комбинации, атласные пижамы и многое другое в новогодней капсуле</div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <div class="article__pictures">
            <img src="./img/blog/article1/1.png" class="picture" alt="#">
            <img src="./img/blog/article1/4.png" class="picture" alt="#">
            <img src="./img/blog/article1/2.png" class="picture" alt="#">
            <img src="./img/blog/article1/3.png" class="picture" alt="#">
            
            <!-- Стрелки скролла начало -->
            <a href="#" class="scroll_arrow article_arrow_left">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M7 0.5L0.750001 6.75L7 13" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>

            <a href="#" class="scroll_arrow article_arrow_right">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M1 13.5L7.25 7.25L1 1" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <!-- Стрелки скролла конец -->
        </div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">02.12.2023 г.</p>
    </div>

     <!-- Статья блога конец -->

    <!-- Статья блога начало -->

    <div class="article"  id="article-2">
        <div class="title_second">6 многослойных решений на каждый день</div>
        <div class="main_text_contrast uppercase">Что с чем носить и куда что заправлять</div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <div class="article__pictures">
            <img src="./img/blog/article2/1.png" class="picture" alt="#">
            <img src="./img/blog/article2/2.png" class="picture" alt="#">
            <img src="./img/blog/article2/3.png" class="picture" alt="#">
            
            <!-- Стрелки скролла начало -->
            <a href="#" class="scroll_arrow article_arrow_left">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M7 0.5L0.750001 6.75L7 13" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>

            <a href="#" class="scroll_arrow article_arrow_right">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M1 13.5L7.25 7.25L1 1" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <!-- Стрелки скролла конец -->
        </div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">25.11.2023 г.</p>
    </div>
    
     <!-- Статья блога конец -->

         <!-- Статья блога начало -->

    <div class="article"  id="article-3">
        <div class="title_second">как ухаживать за кашемировым свитером</div>
        <div class="main_text_contrast uppercase">Учимся заботиться об одежде из пуховой пряжи без огромных счетов из химчистки</div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <div class="article__pictures">
            <img src="./img/blog/article3/1.png" class="picture" alt="#">
            <img src="./img/blog/article3/2.png" class="picture" alt="#">
            <img src="./img/blog/article3/3.png" class="picture" alt="#">
            
            <!-- Стрелки скролла начало -->
            <a href="#" class="scroll_arrow article_arrow_left">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M7 0.5L0.750001 6.75L7 13" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>

            <a href="#" class="scroll_arrow article_arrow_right">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M1 13.5L7.25 7.25L1 1" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <!-- Стрелки скролла конец -->
        </div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">10.11.2023 г.</p>
    </div>
    
     <!-- Статья блога конец -->

     <!-- Статья блога начало -->

    <div class="article"  id="article-4">
        <div class="title_second">Мода по-мужски: собираем стильный гардероб</div>
        <div class="main_text_contrast uppercase">Топ-вещей для актуального гардероба в новом году</div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <div class="article__pictures">
            <img src="./img/blog/article4/1.png" class="picture_vertical" alt="#">
            <img src="./img/blog/article4/2.png" class="picture_vertical" alt="#">
            <img src="./img/blog/article4/3.png" class="picture_vertical" alt="#">
            
            <!-- Стрелки скролла начало -->
            <a href="#" class="scroll_arrow article_arrow_left">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M7 0.5L0.750001 6.75L7 13" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>

            <a href="#" class="scroll_arrow article_arrow_right">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M1 13.5L7.25 7.25L1 1" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <!-- Стрелки скролла конец -->
        </div>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">Lorem ipsum dolor sit amet consectetur. Ac feugiat fames feugiat sed eget mi vel egestas. Eget tortor augue dictum auctor. A ornare tincidunt scelerisque tristique tristique ac sagittis quam cras. Nisl nec id vitae neque. Et aliquet morbi tortor vestibulum. Nisl vivamus id mi varius eget. <br> Fermentum etiam pellentesque risus nisi. <br>
            Aenean pulvinar vulputate pharetra mattis. Tellus nibh amet nibh tortor. Fringilla nulla tristique vestibulum consequat nibh mattis diam eu. Cras egestas leo ligula fames orci bibendum. Libero pretium at molestie aliquet. Blandit a velit pharetra nisi quam fermentum.
        </p>
        <p class="info_pages_text">24.10.2023 г.</p>
    </div>

     <!-- Статья блога конец -->

     <!-- Читать еще статьи начало -->

    <div class="more">
        <a href="#" class="main_text">Читать еще статьи</a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M8.75 12.5L15 18.75L21.25 12.5" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
    </div>

    <!-- Читать еще статьи конец -->

    {% include "partials/pagination.html" %}

</div>
<!-- Блог конец -->



{% endblock %}

{% block scripts %} {% endblock %}