{% set page_name = 'Женская одежда' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'catalog_main.html',
            text: 'Каталог'
        },
        {
            link: 'catalog_women.html',
            text: 'Женщины'
        },
        {
            link: 'catalog_closed_filters.html',
            text: 'Одежда'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Каталог Одежда с закрытыми фильтрами начало -->

{% include "partials/catalog_closed_filters_panel.html" %}


    <div class="container catalog">

        <div class="catalog_cards">
            {% include "partials/women_products_all.html" %}
        </div>
    
    {% include "partials/view_more_products.html" %}
    
    {% include "partials/pagination.html" %}
    
    </div>
</div>




<!-- Каталог Одежда с закрытыми фильтрами конец -->

{% endblock %}

{% block scripts %} {% endblock %}