{% set page_name = 'Распродажа' %}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Распродажа начало -->

<div class="inner_section_banner sale_page_banner">
    <a href="#" class="container sale_page_title">
        <p class="title_second title_second_large_height">распродажа</p>
        <p class="title_first">скидки до 70%</p>
    </a>
</div>

{% include "partials/catalog_women-men_panel.html" %}

<div class="container catalog">

    <div class="catalog_cards">
        {% include "partials/mix_products.html" %}
    </div>

{% include "partials/view_more_products.html" %}

{% include "partials/pagination.html" %}

</div>

<!-- Распродажа конец -->

{% endblock %}

{% block scripts %} {% endblock %}