{% set page_name = 'Новая коллекция' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'catalog_new_collection.html',
            text: 'Новая коллекция'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Новая коллекция начало -->

<div class="inner_section_banner new_collection_page_banner">
    <a href="#" class="container new_collection_page_title">
        <p class="title_second title_second_large_height">Новая коллекция</p>
        <p class="title_first new_title">осень/зима 2024</p>
    </a>
</div>

{% include "partials/catalog_women-men_panel.html" %}

<div class="container catalog">

    <div class="catalog_cards">
        {% include "partials/mix_products.html" %}
    </div>

{% include "partials/view_more_products.html" %}

{% include "partials/pagination.html" %}

</div>

<!-- Новая коллекция конец -->

{% endblock %}

{% block scripts %} {% endblock %}