{% set page_name = 'Доставка' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'delivery.html',
            text: 'Доставка'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Доставка Екатеринбург начало -->

<div class="container text_content_container info_pages_text min_height delivery_ekb">
    <p>В г. Екатеринбург вы можете получить ваш заказ 2 способами:</p>
    <ul>
        <li>оформить бесплатно самовывоз из нашего магазина по адресу:  ул. 8 Марта д. 46, ТЦ Гринвич, 2 очередь, 2 этаж, бутик  212  </li>
        <li>заказать доставку по городу до квартиры</li>
    </ul>
    <p>Стоимость доставки по городу - 1 000 рублей. </p>
    <p>При сумме заказа выше 50 000 рублей доставка по городу - бесплатная.</p>
    <p>У вас будет 15 минут, чтобы осмотреть заказ и примерить заказанные вещи. Товары, которые вам не подойдут, вы можете вернуть курьеру. 
        После возврата товаров в магазин мы перечислим вам денежные средства.</p>
</div>

<!-- Доставка Екатеринбург конец -->


<!-- Доставка другие регионы начало -->

<div class="container text_content_container info_pages_text delivery_region">
    <p>Мы осуществляем доставку заказов по всей России транспортной компанией СДЭК до пункта самовывоза или вашего адреса на выбор.</p>
    <p>Стоимость доставки будет рассчитана в момент оформления заказа.</p>
    <p>Мы бережно упакуем ваш заказ перед сдачей в транспортную компанию.</p>
    <p>Вы сможете отследить движение заказа по трек-номеру, который будет доступен в вашем личном кабинете на нашем сайте. </p>
</div>

<!-- Доставка другие регионы конец -->

{% endblock %}

{% block scripts %} {% endblock %}