{% set page_name = 'Оформление заказа' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'basket_full.html',
            text: 'Корзина'
        },
        {
            link: 'making_order_data.html',
            text: 'Оформление заказа'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Оформление заказа Самовывоз начало -->

<div class="container making_order_cols">

    <div class="block_tabs">

        <div class="row_tabs">
            <a href="making_order_data.html" class="tab_inactive_left">
                <p class="main_text_addit_dark uppercase">данные покупателя</p>
            </a>
            <div class="tab_active">
                <p class="main_text uppercase">доставка</p>
            </div>
            <a href="making_order_payment.html" class="tab_inactive_right">
                <p class="main_text_addit_dark uppercase">оплата</p>
            </a>
        </div>

        <p class="main_text type_choice">Выберите подходящий вариант доставки:</p>

        <form method="GET" action="#" class="delivery_checkbox">
            <input type="radio" id="courier" name="type_delivery" class="сustom_сheckbox"  checked>
            <label for="courier"><a href="making_order_delivery_courier.html"  class="main_text_addit_dark">Доставка курьером</a></label> 
            <input type="radio" id="pickup" name="type_delivery" class="сustom_сheckbox">
            <label for="pickup"><a href="making_order_delivery_pickup.html"  class="main_text_addit_dark">Самовывоз</a></label> 
        </form>

        <p class="main_text type_choice">Веберите пункт выдачи заказа:</p>

        <form method="GET" action="#" class="pickup_point">
            <input type="text" class="addit_text_addit_dark" placeholder="Пункт выдачи заказа">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.83464 8.33301L10.0013 12.4997L14.168 8.33301" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </form>


        <div class="row_btn">
            <a href="making_order_payment.html" class="btn_main">
                <p class="main_text uppercase btn_text">далее</p>
            </a>
        </div>

    </div>

    <div class="total_cost">

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                4 товара
            </div>
            <div class="total_item_value main_text">
                32 000 р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                Скидка 5%
            </div>
            <div class="total_item_value main_text">
                1 600 р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                Доставка
            </div>
            <div class="total_item_value main_text">
                - р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text_contrast">
                К оплате
            </div>
            <div class="total_item_value main_text_contrast">
                30 400 р.
            </div>
        </div>

    </div>
</div>


<!-- Оформление заказа Самовывоз конец -->

{% endblock %}

{% block scripts %} {% endblock %}