{% set page_name = 'Оформление заказа' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'basket_full.html',
            text: 'Корзина'
        },
        {
            link: 'making_order_data.html',
            text: 'Оформление заказа'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Оформление заказа Доставка курьером начало -->

<div class="container making_order_cols">

    <div class="block_tabs">

        <div class="row_tabs">
            <a href="making_order_data.html" class="tab_inactive_left">
                <p class="main_text_addit_dark uppercase">данные покупателя</p>
            </a>
            <div class="tab_active">
                <p class="main_text uppercase">доставка</p>
            </div>
            <a href="making_order_payment.html" class="tab_inactive_right">
                <p class="main_text_addit_dark uppercase">оплата</p>
            </a>
        </div>

        <p class="main_text type_choice">Выберите подходящий вариант доставки:</p>

        <form method="GET" action="#" class="delivery_checkbox">
            <input type="radio" id="courier" name="type_delivery" class="сustom_сheckbox"  checked>
            <label for="courier"><a href="making_order_delivery_courier.html"  class="main_text_addit_dark">Доставка курьером</a></label> 
            <input type="radio" id="pickup" name="type_delivery" class="сustom_сheckbox">
            <label for="pickup"><a href="making_order_delivery_pickup.html"  class="main_text_addit_dark">Самовывоз</a></label> 
        </form>

    
        <div class="row_info">
            <div class="row_info_col">
                <div class="info_cell">
                    <p class="addit_text_addit_dark">Город доставки</p>
                    <form method="GET" action="#" >
                        <input type="text">
                    </form>
                </div>
            </div>
    
            <div class="row_info_col">
                <div class="adress_row">
                    <div class="street_cell">
                        <p class="addit_text_addit_dark">Улица</p>
                        <form method="GET" action="#" >
                            <input type="text">
                        </form>
                    </div>
                    <div class="house_cell">
                        <p class="addit_text_addit_dark">Дом</p>
                        <form method="GET" action="#" >
                            <input type="number">
                        </form>
                    </div>
                    <div class="flat_cell">
                        <p class="addit_text_addit_dark">Кв.</p>
                        <form method="GET" action="#" >
                            <input type="number">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="comment_courier">
            <p class="addit_text_addit_dark">Комментарий курьеру</p>
            <form method="GET" action="#" >
                <input type="text">
            </form>
        </div>

        <div class="row_btn">
            <a href="making_order_payment.html" class="btn_main">
                <p class="main_text uppercase btn_text">далее</p>
            </a>
        </div>

    </div>

    <div class="total_cost">

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                4 товара
            </div>
            <div class="total_item_value main_text">
                32 000 р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                Скидка 5%
            </div>
            <div class="total_item_value main_text">
                1 600 р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                Доставка
            </div>
            <div class="total_item_value main_text">
                - р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text_contrast">
                К оплате
            </div>
            <div class="total_item_value main_text_contrast">
                30 400 р.
            </div>
        </div>

    </div>

</div>


<!-- Оформление заказа Доставка курьером конец -->

{% endblock %}

{% block scripts %} {% endblock %}