{% set page_name = 'Оформление заказа' %}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Окно проверки номера начало -->

<div class="dark_window">
    <div class="pop-up_form_794 pop_up_check_phone">
        <a href="making_order_data.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="close_icon">
                <path d="M5.33316 15.2565L4.74316 14.6665L9.40983 9.99983L4.74316 5.33316L5.33316 4.74316L9.99983 9.40983L14.6665 4.74316L15.2565 5.33316L10.5898 9.99983L15.2565 14.6665L14.6665 15.2565L9.99983 10.5898L5.33316 15.2565Z" fill="#393939"/>
            </svg>
        </a>
        <div class="pop_up_col">
            <div class="check_phone_cell">
                <p class="info_pages_text">Введите код из СМС</p>
                <form method="GET" action="#">
                    <input type="text" placeholder="*  *  *  *">
                </form>
            </div>
            <a href="#" class="btn_main_inactive">
                <p class="main_text_addit_dark uppercase btn_text">получить код</p>
            </a>
            <p class="small_text_addit_dark">Отправить код повторно можно через 00:59 сек.</p>
        </div>
    </div>
</div>

<!-- Окно проверки номера конец -->

<!-- Оформление заказа Данные начало -->

<div class="container making_order_cols">

    <div class="block_tabs">

        <div class="row_tabs">

            <div class="tab_active">
                <p class="main_text uppercase">данные покупателя</p>
            </div>
            <a href="making_order_delivery_courier.html" class="tab_inactive_right">
                <p class="main_text_addit_dark uppercase">доставка</p>
            </a>
            <a href="making_order_payment.html" class="tab_inactive_right">
                <p class="main_text_addit_dark uppercase">оплата</p>
            </a>

        </div>
    
        <div class="row_info">
    
            <div class="row_info_col">
                <div class="info_cell">
                    <p class="addit_text_addit_dark">Фамилия</p>
                    <form method="GET" action="#" >
                        <input type="text">
                    </form>
                </div>
                <div class="info_cell">
                    <p class="addit_text_addit_dark">Имя</p>
                    <form method="GET" action="#" >
                        <input type="text">
                    </form>
                </div>
            </div>
    
            <div class="row_info_col">
                <div class="info_cell">
                    <p class="addit_text_addit_dark">Телефон</p>
                    <form method="GET" action="#" >
                        <input type="number" placeholder="+7">
                    </form>
                </div>
                <div class="info_cell">
                    <p class="addit_text_addit_dark">Электронная почта</p>
                    <form method="GET" action="#" >
                        <input type="email">
                    </form>
                </div>
            </div>
    
        </div>

        <div class="row_btn">
            <a href="making_order_delivery_courier.html" class="btn_main">
                <p class="main_text uppercase btn_text">далее</p>
            </a>
        </div>

    </div>

    <div class="total_cost">

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                4 товара
            </div>
            <div class="total_item_value main_text">
                32 000 р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                Скидка 5%
            </div>
            <div class="total_item_value main_text">
                1 600 р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text">
                Доставка
            </div>
            <div class="total_item_value main_text">
                - р.
            </div>
        </div>

        <div class="total_cost__item">
            <div class="total_item_name main_text_contrast">
                К оплате
            </div>
            <div class="total_item_value main_text_contrast">
                30 400 р.
            </div>
        </div>

    </div>

</div>


<!-- Оформление заказа Данные конец -->

{% endblock %}

{% block scripts %} {% endblock %}