{% set page_name = 'Оплата' %}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Оплата начало -->

<div class="container text_content_container info_pages_text">
    <p>Вы можете оплатить ваш заказ онлайн банковской картой на сайте.</p>
    <p>К оплате принимаются все виды платёжных карточек МИР, а также VISA и MasterCard.</p>
    <p>Для оплаты банковской картой вам понадобится следующая информация:</p>
    <ul>
        <li>номер банковской карты;</li>
        <li>срок окончания действия вашей карты, месяц/год;</li>
        <li>ФИО владельца карты;</li>
        <li>CVV код для карт Visa / CVC код для Master Card: 3 последние цифры на полосе для подписи на обороте карты.</li>
    </ul>
</div>

<!-- Оплата конец -->

{% endblock %}

{% block scripts %} {% endblock %}