{% set page_name = 'Личный кабинет' %}

{% set breadcrumbs = 
    [ 
        {
            link: 'index.html',
            text: 'Главная'
        },
        {
            link: 'personal_account_info.html',
            text: 'Личный кабинет'
        }
    ]
%}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Личный кабинет заказы начало -->

<div class="container block_tabs">

    <div class="row_tabs">
        <a href="personal_account_info.html" class="tab_inactive_left">
            <p class="main_text_addit_dark uppercase">личная информация</p>
        </a>
        <div class="tab_active">
            <p class="main_text uppercase">история заказов</p>
        </div>
    </div>

    <div class="orders_history">

        <!-- Строка заказа начало -->
        <div class="orders_history__item">

            <div class="order_group">
                <div class="item_number main_text uppercase">
                    заказ №35021-0003
                </div>
                <div class="order_create main_text_addit_dark">
                    создан 12.06.2023 г.
                </div>
                <div class="order_delivery main_text_addit_dark">
                    трек-номер: ABC123456789
                </div>
            </div>

            <div class="order_value main_text">
                31 400 р.
            </div>
            <a href="personal_account_orders_opened.html" class="open_order">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.83464 8.33301L10.0013 12.4997L14.168 8.33301" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
        <!-- Строка заказа конец -->

        <!-- Строка заказа начало -->
        <div class="orders_history__item">

            <div class="order_group">
                <div class="item_number main_text uppercase">
                    заказ №35021-0002
                </div>
                <div class="order_create main_text_addit_dark">
                    создан 01.02.2024 г.
                </div>
                <div class="order_delivery main_text_addit_dark">
                    получен 10.02.2024 г.
                </div>
            </div>

            <div class="order_value main_text">
                64 000 р.
            </div>
            <a href="#" class="open_order">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.83464 8.33301L10.0013 12.4997L14.168 8.33301" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
        <!-- Строка заказа конец -->

        <!-- Строка заказа начало -->
        <div class="orders_history__item">

            <div class="order_group">
                <div class="item_number main_text uppercase">
                    заказ №35021-0001
                </div>
                <div class="order_create main_text_addit_dark">
                    создан 12.06.2023 г.
                </div>
                <div class="order_delivery main_text_addit_dark">
                    получен 20.06.2023 г.
                </div>
            </div>
            
            <div class="order_value main_text">
                25 000 р.
            </div>
            <a href="#" class="open_order">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.83464 8.33301L10.0013 12.4997L14.168 8.33301" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
        <!-- Строка заказа конец -->

        <div class="total_orders_value">
            <div class="value_text main_text_contrast">
                Общая сумма покупок
            </div>
            <div class="value_amount main_text_contrast">
                <span class="total_orders_sum">119400</span> &nbsp;р.
            </div>
        </div>

    </div>
   
</div>
<!-- Личный кабинет заказы конец -->

{% endblock %}

{% block scripts %} {% endblock %}