{% set page_name = 'Политика конфиденциальности' %}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Полилика конф. начало -->
<div class="container text_content_container info_pages_text">
    <p class="main_text_contrast uppercase">политика конфиденциальности и условия обработки персональных данных</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quas quibusdam laborum veniam suscipit tempore? Quas, a? Neque nam repudiandae asperiores libero ab cumque, perspiciatis corporis aperiam numquam magni modi.</p>
    <p>Atque nobis minus temporibus blanditiis molestias quibusdam voluptas quia deleniti, quasi, vero possimus optio. Fugit, alias recusandae voluptatum iure fugiat neque atque, aspernatur provident nam accusantium odit natus officia voluptatem!</p>
    <p>Consequatur voluptatum nostrum maiores, impedit sit esse, corrupti dolorem illo numquam ex molestiae unde quae tenetur pariatur! Vero similique, consequatur, deserunt eligendi porro molestiae eos cumque repellat impedit optio officiis.</p>
    <p>Fuga ipsam nam aspernatur fugiat quia atque, placeat illum quisquam sed sunt eos in quod culpa deleniti sit excepturi eveniet asperiores quidem ex architecto esse laboriosam eligendi repellat itaque. Molestias!</p>
    <p>Voluptate sit fuga, tempora reiciendis velit vel nulla, necessitatibus praesentium id vitae odit quaerat sequi assumenda molestiae officia unde sapiente quis dolores at fugiat dolore consectetur. Et quisquam provident dolorem!</p>
    <p>Temporibus molestias totam quibusdam suscipit nesciunt velit, adipisci deleniti error, laboriosam eum laudantium vitae beatae sed minima. Iure amet magni est quisquam dicta doloribus, aut qui facilis aliquid ea labore.</p>
    <p>Animi saepe quaerat libero obcaecati ipsam earum ullam quos ipsum excepturi quisquam. Molestiae cupiditate quas eligendi tempora alias praesentium consequuntur modi ad similique error, hic reprehenderit accusantium, quod asperiores odio?</p>
    <p>Neque nisi tenetur quos quis, et error illum placeat consectetur? Temporibus vel soluta, eum sed culpa maxime ex consequatur fugiat. Accusamus a saepe dignissimos quasi aliquid libero ullam alias aliquam.</p>
    <p>Blanditiis quos vel aliquid veritatis. Sit nam impedit suscipit officia voluptates. Cumque quidem temporibus, distinctio doloribus hic perspiciatis doloremque, atque similique labore veritatis eligendi, autem ipsam? Rem sint vitae necessitatibus?</p>
    <p>Repellendus quam corporis at id expedita esse necessitatibus quisquam repudiandae recusandae unde, sequi earum consequatur modi voluptatem incidunt distinctio! Et nesciunt vel velit laboriosam natus hic illo, nam illum obcaecati?</p>
    <p>Temporibus, culpa corrupti dolorum blanditiis odit perferendis quis sequi repudiandae. Deserunt, tenetur autem odio sit animi perspiciatis a amet id quia error reprehenderit laborum veritatis! Enim, ex nesciunt! Architecto, fugiat?</p>
    <p>Alias, ullam consectetur, maxime quasi quia eos mollitia voluptatibus fugiat officia impedit aperiam iure eaque delectus eligendi ipsam dicta, laboriosam cumque veniam quidem. Aliquam officia quia, enim saepe quasi dolorum!</p>
    <p>Fuga facilis architecto illo quos tenetur possimus nihil deserunt libero labore aperiam. Sed consequuntur sapiente fuga at aut possimus. Eos nihil dolore reiciendis magnam sit corrupti, qui nemo. Minima, fugit.</p>
    <p>Aliquid fuga velit dignissimos ratione tempore repellendus atque sequi maxime voluptatum rem eos odit ab aspernatur molestias rerum accusamus neque, doloremque dolorem veniam, illo corrupti nesciunt sit. Nam, rem quas?</p>
    <p>Sunt ad doloribus quisquam accusantium amet eaque nihil minima vero impedit animi nobis aperiam maxime modi numquam ipsa, corporis sint cupiditate ut neque dolorem libero. A fugiat expedita dicta dolorum!</p>
</div>
<!-- Политика конф. конец -->

{% endblock %}

{% block scripts %} {% endblock %}