{% set page_name = 'Возврат' %}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<!-- Возврат начало -->
<div class="container text_content_container info_pages_text">
    <p>Заказы, приобретенные в фирменном розничном магазине, можно вернуть в магазин.</p>
    <p>Заказы, доставленные курьером, возвращаются на основании заявления на возврат....</p>
    <div class="div">
        <div class="refund_condition">
            <div class="refund_condition__visible">
                <p class="main_text uppercase">возврат товаров надлежащего качества</p>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.83464 8.3335L10.0013 12.5002L14.168 8.3335" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
            <div class="refund_condition__hidden">
                <p class="condition">
                    Lorem ipsum dolor sit amet consectetur. Quis quis non nisi nibh pellentesque sed auctor porttitor. Cursus vel donec sit etiam velit nisl nam commodo maecenas. Purus cursus facilisis mauris risus ac viverra aenean facilisis orci. Euismod rhoncus quis elit sollicitudin.
                </p>
                <p class="condition">
                    Lorem ipsum dolor sit amet consectetur. Quis quis non nisi nibh pellentesque sed auctor porttitor. Cursus vel donec sit etiam velit nisl nam commodo maecenas. Purus cursus facilisis mauris risus ac viverra aenean facilisis orci. Euismod rhoncus quis elit sollicitudin.
                </p>
            </div>
        </div>
    
        <div class="refund_condition">
            <div class="refund_condition__visible">
                <p class="main_text uppercase">возврат товаров ненадлежащего качества</p>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.83464 8.3335L10.0013 12.5002L14.168 8.3335" stroke="#393939" stroke-width="0.833333" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
            <div class="refund_condition__hidden">
                <p class="condition">
                    Lorem ipsum dolor sit amet consectetur. Quis quis non nisi nibh pellentesque sed auctor porttitor. Cursus vel donec sit etiam velit nisl nam commodo maecenas. Purus cursus facilisis mauris risus ac viverra aenean facilisis orci. Euismod rhoncus quis elit sollicitudin.
                </p>
                <p class="condition">
                    Lorem ipsum dolor sit amet consectetur. Quis quis non nisi nibh pellentesque sed auctor porttitor. Cursus vel donec sit etiam velit nisl nam commodo maecenas. Purus cursus facilisis mauris risus ac viverra aenean facilisis orci. Euismod rhoncus quis elit sollicitudin.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Возврат конец -->

{% endblock %}

{% block scripts %} {% endblock %}